@import url(styles/header.css);
@import url(styles/heart.css);
@import url(styles/carrosselsangue.css);
@import url(styles/carrossel.css);
@import url(styles/cards.css);
@import url(styles/menu-desktop.css);



body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #D9ABFF;
}
.sangue{
    height: 500px;
    left: 1px;
    top: 270px;
background: #D9ABFF;
}
.sangueeórgãos{
    height: 500px;
}