@import url(styles/header.css);
@import url(styles/heart.css);
@import url(styles/carrosselsangue.css);

@media screen and (max-width:500px){
    h3{
        color: red;
    }
}
@media print and (max-width: 600px){
    h3{
        color: green;
    }
}
@media (max-width: 700px){
    h3{
        color: blue;
    }
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.sangue{
    height: 500px;
    left: 1px;
    top: 270px;
background: #D9ABFF;
}
.sangueeórgãos{
    height: 500px;
}
.titulo1{
position: absolute;
width: 790px;
left: 260px;
top: 393px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 200;
font-size: 65px;
line-height: 103px;
text-align: center;

color: #000000
}
.escrita{
    position: absolute;
width: 900px;
height: 182px;
left: 48px;
top: 540px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 48px;

color: #000000;
}
.escrita2{
    position: absolute;
width: 995px;
height: 185px;
left: 48px;
top: 690px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 48px;

color: #000000;

}

.doaçãodesangue{

    height: 400px;
    left: -1085px;
    top: 700px;

    background: #ABE4FF;
}
.titulo2{
    position: absolute;
    width: 790px;
    left: 250px;
    top: 900px;
    
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 200;
    font-size: 65px;
    line-height: 103px;
    text-align: center;
    
    color: #000000
    }
