.dorgaos{
    width: 1272px;
    height: 123px;
    flex-shrink: 0;
    color: #2e15ed;
    text-align: center;
    font-family: Irish Grover;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}