*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    position: relative;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 10vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__link{
    background-color: var(--cor-de-fundo);
    -webkit-background-clip: text;
    -webkit-background-clip: transparent;
    background-color: text;
    text-decoration: none;
}
.opções__doação, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branco);
}
.container__botao{
    display: none;
}

/* 320px - 480px = mobile*/
@media  screen and (min-width: 320px) {
    
}
/* 480px - 768px = tablet */
@media screen and (min-width: 480px) {
    
}
/* 768px - 1024px = telas menores, laptops */
@media screen and (min-width: 480px) {
    
}
/* 1024px - 1200px = desktop */
@media screen and (min-width: 480px) {
    
}
/* 1200px e + = telas maiores, tvs */
@media screen and (min-width: 480px) {
    .carrossel__titulo1{
        font-size: 70px;
        margin-left: 7%;
    }
}