*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: var(--cor-branco);
}

/*lista*/
.dp-menu ul{
    margin-top: 0%;
    list-style-type: none;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.dp-menu ul{
    background-color: var(--cor-fundo);
    position: relative;
}

.dp-menu ul li{
    display: inline-block;
}

.dp-menu ul li a{
    color: var(--cor-preto);
    text-decoration: none;
    padding: 10px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover)
}

/*sub menu*/

.dp-menu ul ul{
    display: none;
    left: 1;
    position: absolute;
}

.dp-menu ul li:hover ul{
    display: block;
   
}
.dp-menu ul ul{
    width: 150px;
}
.dp-menu ul ul li a {
    display: block;
}